.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
}

button {
  font-size: 2rem;
  width: fit-content;
  margin: 10px auto;
  background-color: #61dafb;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button:active {
  transform: scale(0.97);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* font-size: calc(10px + 2vmin); */
  font-size: xx-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
